.sectionTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(0, 62, 177, 1);
}

.sectionTitle.breakpoint1 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 76px;
}

.sectionTitle.breakpoint2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 76px;
}

.sectionTitle.breakpoint3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 56px;
}

.works {
  width: 100%;
  display: flex;
  column-gap: 44px;
  align-items: flex-start;
  margin-bottom: 44px;
}

.works.breakpoint3 {
  display: block;
  margin-bottom: 44px;
}

.works.breakpoint3:last-of-type {
  margin-bottom: 0;
}

.work {
  width: 100%;
}

.work.breakpoint3 {
  margin-bottom: 44px;
}

.work.breakpoint3:last-of-type {
  margin-bottom: 0;
}

.imageWrapper {
  display: block;
  width: 100%;
  position: relative;
  aspect-ratio: 1560 / 972;
  margin-bottom: 16px;
}

.image {
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50 !important;
}

.title {
  width: 100%;
  font-family: "Nunito Sans", "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 62, 177, 1);
  margin-bottom: 12px;
}

.description {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.description > a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
