.row {
	width: 100%;
	display: flex;
	margin-bottom: 45px;
}

.row.lastRow {
	margin-bottom: 65px;
}

.leftColumn {
	margin-right: 45px;
	width: 40%;
}

.prompt {
	width: 100%;
	text-align: left;
	font-style: italic;
	font-weight: 700;
}

.prompt.default {
	font-size: 28px;
	margin-bottom: 24px;
}

.prompt.small {
	font-size: 24px;
	margin-bottom: 20px;
}

.bluePrompt {
	color: rgba(19, 102, 255, 1);
}

.name {
	width: 40%;
}

.role {
	color: rgba(239, 84, 0, 1);
	width: 40%;
}

.do {
	color: rgba(164, 0, 234, 1);
	width: 0;
	flex-grow: 1;
}
