.homeWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #FEFEFE;
  min-width: 440px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://kurtxiaoz.github.io/porfolio/svgs/home_background.png");
  opacity: 0.1;
  pointer-events: none;
}

.home {
  width: auto;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.home.breakpoint1 {
  width: 1106px;
}

.home.breakpoint2 {
  width: 840px;
}

.home.breakpoint3 {
  margin-left: 44px;
  margin-right: 44px;
}

.intro {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro.defaultPaddingTop {
  padding-top: 132px;
}

.intro.smallPaddingTop {
  padding-top: 112px;
}

.about {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: rgba(0, 62, 177, 1);
  margin-bottom: 44px;
}

.about.breakpoint1 {
  font-weight: 600;
  line-height: 40px;
  font-size: 24px;
}

.about.breakpoint2 {
  font-weight: 600;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 0.32px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: rgba(0, 62, 177, 1);
  gap: 25px;
}

.link {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 62, 177, 1);
  outline: none;
}

.caseStudies {
  box-sizing: border-box;
  width: 100%;
}

.caseStudies.breakpoint1 {
  padding-top: 120px;
  margin-bottom: 120px;
}

.caseStudies.breakpoint2 {
  padding-top: 92px;
  margin-bottom: 92px;
}

.otherWorkPage {
  width: 100%;
}

.otherWorkPage.breakpoint1 {
  margin-bottom: 120px;
}

.otherWorkPage.breakpoint2 {
  margin-bottom: 92px;
}

.footer {
  font-family: "Nunito Sans", "Lato", sans-serif;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: rgba(0, 62, 177, 1);
  margin-bottom: 160px;
}

.footer1 {
  margin-bottom: 12px;
}

.footer2 {
  text-decoration: underline;
  cursor: pointer;
}
