.home {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: rgba(255, 254, 248, 1);
  position: relative;
  padding: 0 10%;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://kurtxiaoz.github.io/porfolio/svgs/home_background.png");
  opacity: 0.1;
  pointer-events: none;
}

.landingPage {
  box-sizing: border-box;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingPage.defaultPaddingTop {
  padding-top: 132px;
}

.landingPage.smallPaddingTop {
  padding-top: 112px;
}

.line {
  display: flex;
  align-items: center;
}

.lineTitle {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
}

.about {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: rgba(19, 102, 255, 1);
  margin-bottom: 24px;
  line-height: 36px;
}

.about.small {
  line-height: 28px;
  font-size: 16px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  color: rgba(19, 102, 255, 1);
  gap: 25px;
}

.link {
  cursor: pointer;
  border-bottom: 1px solid rgba(19, 102, 255, 1);
  outline: none;
}

.browseProjectsPrompt {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.workPage {
  width: 90%;
  max-width: 1440px;
}

.workPage.defaultMarginTop {
  margin-top: 56px;
}

.workPage.smallMarginTop {
  margin-top: 48px;
}

.work {
  margin-bottom: 107px;
}

.work.smallMarginBottom {
  margin-bottom: 60px;
}

.footnote {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 40px;
}

.lastFootnote {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 0px;
}

.footnote:last-of-type {
  margin-bottom: 0;
}

.footnoteText {
  cursor: pointer;
}
