html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato';
	color: #000000;
	letter-spacing: 0.06em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
