.work {
  width: 100%;
  font-family: "Lato";
  color: rgba(0, 0, 0, 1);
}

.image {
  position: relative;
  z-index: 50;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 39px;
  cursor: pointer;
  box-shadow: 1.93px 9.65px 19.3px 0.97px rgba(126, 126, 126, 0.1);
}

.background {
  width: 100%;
  height: 429px;
  border-radius: 24px;
  margin-bottom: 39px;
  cursor: pointer;
  border: 1px solid red;
}

.meta {
  width: 100%;
  display: flex;
  align-items: center;
}

.meta.stack {
  display: block;
}

.info {
  font-weight: 500;
}

.title {
  font-size: 28px;
  line-height: 44px;
  margin-bottom: 8px;
}

.title.smallFont {
  font-size: 24px;
}

.summary {
  font-size: 20px;
  line-height: 40px;
  color: rgba(105, 105, 105, 1);
}

.summary.smallFont {
  font-size: 16px;
}

.description {
  margin-left: auto;
  max-width: 50%;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
}

.description.stack {
  margin-left: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
}

.description.smallFont {
  font-size: 16px;
}
